body {
   
    background-image: url("https://blenderartists.org/uploads/default/original/4X/c/a/4/ca4b8dfe11a14e163ca65038ecaf8f28386c82c9.jpeg"); 
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    text-align:center;
    }